* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 2000px;
    background-color: #013F4E;   
}

header {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.parallax {
    background-image: url("/assets/images/backgroundImage.png");
    height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-inner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav {
    padding: 5px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-right: 1rem;
}



/* Search Section */
.search-section {
    margin: 20px auto;
    text-align: center;
}

#search-input {
    padding: 10px;
    width: 200px;
    font-size: 1rem;
}

#search-button {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: #FFD700;
    border: none;
    cursor: pointer;
}

#search-button:hover {
    background-color: #E5B800;
}

#results {
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-card {
    background-color: lightblue;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.toggle-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.result-card p {
    font-size: 1.5rem;
    color: #013F4E;
    margin-bottom: 10px;
}

.result-card h2 {
    font-size: 1rem;
    color: #B43F3F;
}



.more-info-button {
    background-color: #FFD700;
    border: none;
    padding: 10px;
    font-size: 1rem;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: auto;
}

.more-info-button:hover {
    background-color: #E5B800;
}
